:root {
    --blue-color: rgb(42, 148, 230);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template: 80px 80px 700px / 1fr 4fr;

    height: 100%;

    box-sizing: border-box;
}

.sidebar {
    background-color: var(--blue-color);

    grid-area: 1 / 1 / 4 / 1;

    color: white;

    display: flex;
    flex-direction: column;
    gap: 32px;

    padding: 32px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar img {
    width: 24px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(64deg) brightness(105%) contrast(105%);
}
/* 
.sidebar img:hover:not(.big-image) {
    cursor: pointer;
} */

.sidebar .big-image {
    width: 50px;
}

.dashboard {
    display: flex;

    font-weight: 700;
    font-size: 1.5rem;
    gap: 8px
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 620;
    font-size: 1.05rem;
}

.header {
    background-color: white;

    grid-area: 1 / 2 / 1 / 3;

    display: flex;
    justify-content: left;
    align-items: center;

    padding: 16px 32px;
    gap: 16px;
}

.name {
    font-weight: 700;
    font-size: 1rem;
}

.icon-placeholder {

    width: 48px;
    height: 48px;
    border-radius: 40px;
    background-color: rgb(215, 63, 63);
}

.icon-placeholder-big {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-color: rgb(215, 63, 63);
}

.subheader {
    background-color: white;

    grid-area: 2 / 2 / 3 / 3;

    display: flex;
    justify-content: right;
    align-items: center;
    gap: 24px;
    padding: 0px 32px;
}


.subheader-username {
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 4px;
}

.button-container {
    display: flex;
    gap: 16px;
}

.subheader .button {
    border-radius: 20px;
    background-color: var(--blue-color);
    color: white;
    border: none;
    padding: 8px 0;
    width: 100px;

    font-weight: 700;
    font-size: 0.9rem;
}

.content {
    background-color:yellow;

    grid-area: 3 / 2 / 4 / 3;

    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
 
}

.projects {
    display: grid;
    grid-template: 30px repeat(auto-fit, minmax(130px, 1fr)) / repeat(auto-fit, minmax(240px, 1fr));
    grid-area: 1 / 1 / 3 / 2;

    gap: 45px;
    padding: 0px 32px;
}

.announcements {    
    grid-area: 1 / 2 / 1 / 3;
}

.trending {

    grid-area: 2 / 2 / 3 / 3;
}

.section-title {
    grid-area: 1 / 1 / 1 / -1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.card {
    background-color: gray;

    border-radius: 8px;
}

.header-images {
    width: 32px;
}

.header input {

    --bg-color: rgb(224, 224, 224);

    border-radius: 16px;
    border: 3px solid var(--bg-color);
    background-color: var(--bg-color);

    width: 440px;
}

.apply-margin {
    margin-left: auto;
}


.small-text {
    font-weight: 700;
    font-size: 0.8rem;
}   

.icon-button {
    border: white;
    background-color: white;
}
.button:hover, .icon-button:hover {
    cursor: pointer;
}
